{% if inventory_hostname == mysql_backup_host %}
5 20 * * *  backup  mysqldump agama > /home/backup/mysql/agama.sql
10 20 * * 0 backup duplicity --no-encryption full /home/backup/mysql/ rsync://Maceri1@backup.hannibal.io/mysql
15 20 * * 1-6 backup duplicity --no-encryption incremental /home/backup/mysql/ rsync://Maceri1@backup.hannibal.io/mysql
{% endif %}
