apiVersion: 1
datasources:
  - name: InfluxDB-agama
    type: influxdb
    database: agama_client_db
    access: proxy
    orgId: 1
    uid: ce3k75bpwth4we
    url: http://{{ groups['influxdb'][0] }}:8086
    editable: true
    isDefault: false